* {
    padding: 0;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: rgb(23, 28, 28);
  max-width: 800px;
  margin: auto;
}

header {
  line-height: 140%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 3.5em 2em 0em;
}

h2 {
  font-size: 21px;
  font-weight: 400;
  margin-top: 1em;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 14px;
  font-weight: 400;
  margin-top: .5em;
  color: #777;
}

section {
  margin-top: 3em;
  max-width: 600px;
}

section > * {
  margin-top: .5em;
}

li {
  margin: 1em 2em;
}

li > * {
  margin-top: 0.25em;
}

.feature {
  font-size: 18px;
}